.play-video {
    flex-basis: 69%;
    padding: 20px;
  }
  
  .play-video iframe {
    width: 100%;
    height: 37vw;
    margin-bottom: 20px;
  }
  
  .play-video h3 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
  }
  
  .play-video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .play-video-info .icon {
    width: 20px;
    margin-right: 8px;
  }
  
  .play-video-info span {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .play-video-info div {
    display: flex;
  }
  
  .publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .publisher div {
    flex: 1;
    line-height: 18px;
  }
  
  .publisher img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .publisher div p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
  }
  
  .publisher div span {
    font-size: 14px;
    color: #5a5a5a;
  }
  
  .publisher button {
    background: red;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .vid-description {
    margin: 15px 0;
    padding-left: 10px;
    color: #5a5a5a;
    font-size: 14px;
  }
  
  .vid-description h4 {
    margin-top: 20px;
  }
  
  .comment {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
  }
  
  .comment img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .comment h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .comment h3 span {
    font-size: 12px;
    color: #888;
  }
  
  .comment-action {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .comment-action .comment-icon {
    margin-right: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 900px) {
    .play-video {
      flex-basis: 100%;
      padding: 10px;
    }
  
    .play-video iframe {
      width: 100%;
      height: 50vw;
    }
  
    .vid-description {
      padding-left: 0;
    }
  
    .play-video-info {
      flex-direction: column;
    }
  
    .play-video-info span {
      margin-right: 15px;
      margin-top: 10px;
    }
  }
  